.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
}

.submit {
    margin-top: 15px;
    margin-left: 265px;
}

.border {
    background-color: white;
    height: 400px;
    width: 600px;
    padding: 50px;
    padding-top: 75px;
    padding-left: 120px;
    padding-right: 120px;
    border-radius: 30px;
}

h1 {
    margin-bottom: 30px;
}

.redirect {
    margin-top: 20px;
    margin-left: 150px;
}